[Unit]
Description=Sync "%i" mailbox regularly
Wants=network-online.target gnome-keyring.service
After=network-online.target gnome-keyring.service

[Timer]
OnActiveSec=5
OnUnitActiveSec=5min

[Install]
WantedBy=default.target
