[Unit]
Description=mbsync for mailbox "%i"
Documentation=man:mbsync(1)
Wants=network-online.target
Requires=gnome-keyring.service
After=network-online.target gnome-keyring.service

[Service]
ExecStart=/usr/bin/mbsync --quiet %i
Environment=GNOME_KEYRING_CONTROL=%t/keyring
